body {
    background-color: black;
    color: white;
}
table, td, th {
    z-index: 0;
    background-color: rgb(45, 45, 45);
    border: 1px solid white;
    width: 50vw;
    margin: 10vh auto;
    margin-bottom: 0;
    font-size: 150%;
}


/* ANIMATION */
#sunny, #dark {
    z-index: -1;
    height: 40vh;
    width: 40vh;
    border-radius: 50%;
    position: absolute;
    top: 70%;
    left: 50%;
}
#sunny {
    background-color: rgb(219, 219, 219);
    transform: translateX(-50%) translateY(-50%);
    background-image: url(moon.jpg);
    background-position: center;
    background-size: contain;

}
#dark {
    box-shadow: 0 30vh 40vh 25vh black;
    transform: translateX(-230%) translateY(-200%) scaleY(140%);
    transition: 2s;
    animation-name: moving;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}

@keyframes moving {
    1% { transform: translateX(-230%) translateY(-200%) scaleY(100%);}
    25% { transform: translateX(-50%) translateY(-200%) scaleY(180%);}
    50% { transform: translateX(80%) translateY(-200%) scaleY(100%);}
    75% { transform: translateX(-50%) translateY(-200%) scaleY(180%);}
    100% { transform: translateX(-230%) translateY(-200%) scaleY(140%);}
}